<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BootStrap</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <!-- Font Awasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container-fluid">
		<header th:insert="~{fragmentos/menu::menu-principal}"></header>
          <div class="container">
            <!-- Lista de Productos -->
            <div class="card mt-1">
                <div class="card-header text-uppercase" >
                  Lista Productos
                </div>
                <div class="card-body">
                  <a th:href="@{/productos/agregar}" class="btn btn-primary">Nueva</a>
                  <hr>
                  <table class="table table-bordered table-striped table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Operaciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="producto : ${productos}">
                        <th scope="row" th:text="${producto.id}"></th>
                        <td scope="row" th:text="${producto.nombre}">Tesla Model 3</td>
                        <td scope="row" th:text="${producto.descripcion}"></td>
                        <td scope="row" >Electrico Sedan</td>
                        <td scope="row" th:text="${producto.marca}">Tesla</td>
                        <td scope="row" th:text="${producto.precio}">$40,240 USD</td>
                        <td>
                            <a th:href="@{/productos/buscar(id=${producto.id})}" class="btn btn-outline-primary btn-sm" type="submit">Editar</a>
                            <a th:href="@{/productos/eliminar(id=${producto.id})}" class="btn btn-outline-danger btn-sm" type="submit">Eliminar</a>
                            <a th:href="@{/productos/buscar(id=${producto.id})}" class="btn btn-outline-success btn-sm" type="submit">Detalles</a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="6">
                          <strong>Total: <span th:text="${total}"></span></strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
		  <footer class="footer container text-center text-uppercase py-5" th:insert="~{fragmentos/pie::pie-pagina}"></footer>
    </div>

    <script src="bootstrap-5.3.3-dist/js/bootstrap.js"></script>

</body>
</html>